snippet describe
describe('${1:module/module}', function() {

	${0}

});
endsnippet


snippet it
it('${1:does something amazing}', function() {
	${0}
});
endsnippet

snippet beforeEach
beforeEach(function() {
	${0}
});
endsnippet

snippet afterEach
afterEach(function() {
	${0}
});
endsnippet
